/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \*********************************************************************************************************/
body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}
