/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./www/assets/css/navbar.scss ***!
  \*********************************************************************************************************************/
/* Dracula Palette */
/* Addendum colors */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  border: 1em;
  padding: 0em;
  padding-left: 2.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: medium;
}

.navlink {
  font-size: larger;
  padding: 0em 2em;
  border: 2px solid #44475a;
}

.navlink:link {
  color: #d4d4d4;
}

.navlink:visited {
  color: #d4d4d4;
}
/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./www/assets/css/prachack.scss ***!
  \***********************************************************************************************************************/
.file-input {
  background-color: rgb(60, 60, 60);
  border-radius: 0.5em;
  margin: 0.5em;
}

.status-message {
  text-align: center;
}
