@import 'palette';

html {
    background-color: $col_background;
    color: $col_foreground;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;
}

a:link {
    color:$col_green 
}

a:visited {
    color:$col_pink
}

h2 {
    color: $col_orange;
    font-size: medium;
    text-align: center;
}

sup {
    font-size: x-small;
    font-weight: lighter;
}

select {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $col_foreground;
    background: $col_background;
    border-radius: 0.2em;
    padding: 0.1em;
}

.subcategories {
    text-align: center;
    display: inline-block;
    display: table; margin: 0 auto;
}

th {
    color: $col_orange;
    background-color: $col_background;
}

tr {
    background-color: $col_curr_line;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.flag {
    height: 12px;
    width: 18px;
    margin-right: 3px;
}