@import 'palette';

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    border: 1em;
    padding: 0em;
    padding-left: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;
}

.navlink {
    font-size:larger;
    padding: 0em 2em;
    border: 2px solid $col_curr_line;
}

.navlink:link {
    color: #d4d4d4;
}

.navlink:visited {
    color: #d4d4d4;
}