/* Dracula Palette */
$col_background: #282a36;
$col_curr_line: #44475a;
$col_foreground: #f8f8f2;
$col_comment: #6272a4;
$col_cyan: #8be9fd;
$col_green: #50fa7b;
$col_orange: #ffb86c;
$col_pink: #ff79c6;
$col_purple: #bd93f9;
$col_red: #ff5555;
$col_yellow: #f1fa8c;

/* Addendum colors */
$col_cyan_dim: #738c9b;
$col_green_dim: #5a6b64;
$col_orange_dim: #a39077;
$col_pink_dim: #946377;
$col_purple_dim: #926cac;
$col_red_dim: #99454d;
$col_yellow_dim: #dbbd7b;

html {
    background-color: $col_background;
    color: $col_foreground;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:link {
    color:$col_green 
}

a:visited {
    color:$col_pink
}

h2 {
    color: $col_orange;
    font-size: medium;
    text-align: center;
}

sup {
    font-size: x-small;
    font-weight: lighter;
}

select {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $col_foreground;
    background: $col_background;
    border-radius: 0.2em;
    padding: 0.1em;
}

.subcategories {
    text-align: center;
    display: inline-block;
    display: table; margin: 0 auto;
}

th {
    color: $col_orange;
    background-color: $col_background;
}

tr {
    background-color: $col_curr_line;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.flag {
    height: 12px;
    width: 18px;
    margin-right: 3px;
}